{
  // presets are just a group of plugins
  "presets": [
    "react",
    "es2015", // this preset is obselete as many browsers recognise ES6 so no point compiling to ES5
    // use env instead
    ["env", { // the babel preset env
      "targets": {
        "browsers": "last 2 versions",
        "node": "current" // allows jest to be used in node
      },
      "loose": true, // saying, "I'm not doing very crazy stuff with edge cases. Go ahead and include the smaller bit of code rather than the huge bit."
      "modules": false // telling babel to not transpile the modules as we are using webpack2 (ES6 enabled) which will deal with it
    }]
  ],
  "plugins": [
    "react-hot-loader/babel"
    // "transform-object-rest-spread" // useful for Redux where we use spread operator to create new object from existing state obj
    // ["transform-runtime", {
    //   "polyfill": false,
    //   "regenerator": true
    // }]
  ],
  "env": { // doing different transformations based on environment variables
    "test": { // for tests to be able to use ES6 | when node env = test then run this plugin
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}