# Dependencies
node_modules

# Logs
logs
*.logs

# Compiled directory and file
build/
bundle.js

# Dummy positions
dummyPositions.js

# Temporary files most probably now obselete to the project
park

# Secret files
secrets